* {
    margin : 0;
    padding : 0;
    }
    html {
    font-size : 62.5%;
    }
    body {
    font-family : Helvetica;
    color : rgb(39, 21, 15);
    background : beige no-repeat;
    background-size: auto;
    background-image: url("https://wallpaper.wiki/wp-content/uploads/2017/04/wallpaper.wiki-Download-Free-Beach-Sand-Wallpaper-PIC-WPB004038.jpg") repeat;
    }
    h1 {
    font : normal 4.2rem Helvetica, Arial;
    margin : 0 0 0.4em;
    }
    h2 {
    font : normal 1.8rem Helvetica, Arial, sans-serif;
    margin : 0 0 1em;
    }
    
    .wf-active body, .wf-active h1, .wf-active h2, .wf-active h3, .wf-active h4, .wf-active h5, .wf-active h6 {
    font-family : "effra";
    }
    p, ul, dl, ol, table {
    font-size : 16px;
    margin : 0 0 1.5em;
    }
    .wf-active p {
    font-weight : 300;
    }
    form {
    margin : 0 0 1.5em;
    }
    label {
    font-size : 1.6rem;
    }
       
       a {
        text-decoration : none;
        color : #c74821;
        position : relative;
        transition : all 0.25s linear;
        }
        a:after {
        content : "";
        display : block;
        background : #b38745;
        height : 2px;
        width : 100%;
        position : absolute;
        bottom : -0.2em;
        left : 0;
        opacity : 0;
        transition : all 0.25s linear;
        }
        a:hover, a:focus {
        color : #000;
        }
        a:hover:after, a:focus:after {
        opacity : 1;
        bottom : 0;
        height : 2px;
        }
        img {
        display : block;
        margin : 0 10px 10px 0;
        max-width : 100%;
        }
        i {
        font-style : normal;
        }
        b {
        font-weight : normal;
        }
        code {
        font : 1.4rem/1 Consolas, 'Courier New', Courier, monospace;
        color : #999;
        }
        sub, sup {
        line-height : 0;
        }
        .clearfix:after {
        content : ".";
        display : block;
        height : 0;
        clear : both;
        visibility : hidden;
        }
        .offscreen {
        position : absolute;
        left : -9999px;
        display : block;
        }
        .onscreen {
        left : 0;
        }
        .hide {
        display : none;
        }
        .no-bullets {
        list-style : none;
        }
        .bulleted {
        list-style : disc;
        }
        .uppercase {
            text-transform : uppercase;
            }
        .rwd-break {
        display : block;
        }
        .kellum {
        display : block;
        text-indent : 100%;
        white-space : nowrap;
        overflow : hidden;
        }
        .page-wrapper {
        width : 90%;
        margin : 0 auto;
        }
        
        input.empty::-webkit-input-placeholder, textarea.empty::-webkit-input-placeholder {
        color : red;
        }
        input.empty:-moz-placeholder, textarea.empty:-moz-placeholder {
        color : red;
        }
        .error {
        color : red;
        }
        td {
        padding : 0.25em 1em;
        border-top : 1px solid #aaa;
        }
        em {
        font-style : italic;
        }
        strong {
        font-weight : bold;
        }
        mark {
        background : none;
        font-style : normal;
        }
        a {
        text-decoration : none;
        color : #c74821;
        position : relative;
        transition : all 0.25s linear;
        }
        a:after {
        content : "";
        display : block;
        background : #b38745;
        height : 2px;
        width : 100%;
        position : absolute;
        bottom : -0.2em;
        left : 0;
        opacity : 0;
        transition : all 0.25s linear;
        }
        a:hover, a:focus {
        color : #000;
        }
        a:hover:after, a:focus:after {
        opacity : 1;
        bottom : 0;
        height : 2px;
        }
        img {
        display : block;
        margin : 0 10px 10px 0;
        max-width : 100%;
        }
        .clearfix:after {
        content : ".";
        display : block;
        height : 0;
        clear : both;
        visibility : hidden;
        }
        .offscreen {
        position : absolute;
        left : -9999px;
        display : block;
        }
        .onscreen {
        left : 0;
        }
        .hide {
        display : none;
        }
        .no-bullets {
        list-style : none;
        }
        .bulleted {
        list-style : disc;
        }
        .uppercase {
            text-transform : uppercase;
            }
        .rwd-break {
        display : block;
        }
        .kellum {
        display : block;
        text-indent : 100%;
        white-space : nowrap;
        overflow : hidden;
        }
        .page-wrapper {
        width : 90%;
        margin : 0 auto;
        }
        [role="banner"] h1 {
        padding : 1em 0 0;
        letter-spacing : 0.1em;
        font-size : 3.5rem;
        font-weight : 900;
        color : #182e4f;
        visibility : hidden;
        }
        [role="banner"] h1:after {
        content : "Put Love in All";
        visibility : visible;
        display : block;
        color : rgb(29, 22, 22);
        letter-spacing : 0.5em;
        font-size : 1.2rem;
        font-weight : normal;
        margin : 0.01em 0 3em;
        color : rgba(255, 0, 0, 0.4);
        }
        [role="banner"] h2 {
            visibility : hidden;
            display : none;
            text-transform : uppercase;
            font-weight : 400;
            color : rgba(243, 7, 7, 0.5);
            }
        .summary p {
        letter-spacing : 0.1em;
        font-size : 1.8rem;
        line-height : 1.6;
        }
        .select:after {
        content : "Washes & Styles";
        font-size : 1.8rem;
        text-align : center;
        width : 7em;
        margin : 0 auto 2em;
        background : url(i/waves.png) 50% 0 no-repeat transparent;
        padding : 2em 0 0;
        color : #182e4f;
        visibility : visible;
        }
        
        .next {
        margin-right : 3em;
        }
        .next a {
        background : url(s/czg.svg) 10px -56px no-repeat transparent;
        width : 43px;
        height : 37px;
        }
        .next a:hover, .next a:focus {
        background-position : 10px -138px;
        }
        .previous {
        margin-right : 3em;
        }
        .previous a {
        background : url(s/czg.svg) 10px -220px no-repeat transparent;
        width : 43px;
        height : 37px;
        }
        .previous a:hover, .previous a:focus {
        background-position : 10px -302px;
        }
        .viewall {
        margin-left : 1em;
        }
        .viewall a {
        background : url(s/czg.svg) -56px -55px no-repeat transparent;
        width : 39px;
        height : 39px;
        }
        .viewall a:hover, .viewall a:focus {
        background-position : -56px -137px;
        }
        footer {
        font-size : 1.3rem;
        }
        footer a {
        margin-left : 1em;
        }
        footer a:first-child {
        margin-left : 0;
        }
        
        @media screen and (min-width:700px) {
        body {
        background-attachment : fixed;
        background-position : 90% 80%;
        }
        .intro:before {
        content : "";
        display : block;
        width : 105px;
        height : 30px;
        position : fixed;
        top : 154px;
        left : 3%;
        background : url(s/czg.svg) -184px -99px no-repeat transparent;
        }
        [role="article"], [role="banner"], footer {
        padding : 0 30% 10em 10%;
        text-align : right;
        position : relative;
        }
        [role="banner"] {
        padding-top : 200px;
        padding-bottom : 3em;
        }
        [role="banner"] h1 {
        font-size : 4.8rem;
        letter-spacing : 0;
        line-height : 0.8;
        }
        [role="banner"] h1:after {
        position : absolute;
        top : 15.7em;
        right : 30%;
        }
        [role="banner"] h2 {
        display : block;
        top : 8.1em;
        width : 3em;
        left : 75.5%;
        font-size : 1.9rem;
        line-height : 1;
        }
        [role="banner"] h2:before {
        visibility : visible;
        content : "Love";
        display : block;
        position : relative;
        top : 1em;
        bottom : 0;
        left : -0.5em;
        right : 0;
        margin : auto;
        font-weight : 900;
        font-size : 20rem;
        color : rgba(233, 104, 104, 0.15);
        width : 100%;
        height : 2em;
        line-height : 1;
        transform : rotate(-90deg);
        }
        .preamble {
            padding-top : 10em;
            }
        .preamble h3 {
        top : 5.9em;
        }
        .design-selection li {
        width : 23%;
        margin-bottom : 3em;
        padding-right : 2%;
        }
        .design-selection li:nth-child(odd) {
        width : 23%;
        clear : none;
        padding-right : 2%;
        }   ``
        .next {
        margin-right : 2em;
        margin-left : -0.4em;
        }
        .viewall {
        margin-left : 0;
        }
        footer {
        padding-bottom : 3em;
        margin-top : -5em;
        }
        }
        .design-selection {
        position : absolute;
        left : 5%;
        top : 30em;
        }
        .design-selection ul {
        margin : 0;
        width : 100%;
        }
        .design-selection li {
        float : none;
        width : 100% !important ;
        padding : 0 !important ;
        margin-bottom : 2em;
        }
        .select:after {
        text-align : left;
        background-position : 0 bottom;
        padding : 0 0 2em;
        margin : 0 0 2em;
        }
        .design-archives {
        position : absolute;
        left : 5%;
        top : 95em;
        }
        }
        @media screen and (min-width:1130px) and (min-height:1037px) {
        .design-selection, .design-archives {
        position : fixed;
        }
        }
        @media screen {
            .main h3, .preamble h3, .select {
            visibility : visible;
            }
        [role="banner"] h1 {
        visibility : visible;
        width : auto;
        display : block;
        }
        .main h3:after, .preamble h3:after, .select:after {
            display : none;
            }
        [role="banner"] h1:before {
        display : none;
        }
        }
        [role="banner"] h1 {
        padding : 1em 0 0;
        letter-spacing : 0.1em;
        font-size : 3.5rem;
        font-weight : 900;
        color : #182e4f;
        visibility : hidden;
        }
        [role="banner"] h1:after {
        content : "Put Love in All";
        visibility : visible;
        display : block;
        color : rgb(29, 22, 22);
        letter-spacing : 0.5em;
        font-size : 1.2rem;
        font-weight : normal;
        margin : 0.01em 0 3em;
        color : rgba(255, 0, 0, 0.4);
        }
        [role="banner"] h2 {
            visibility : hidden;
            display : none;
            text-transform : uppercase;
            font-weight : 400;
            color : rgba(243, 7, 7, 0.5);
            }
        .summary p {
        letter-spacing : 0.1em;
        font-size : 1.8rem;
        line-height : 1.6;
        }
        
        .design-selection {
        margin : 3em 0 0;
        }
        .design-selection ul {
        list-style : none;
        width : 94%;
        margin : 0 auto;
        }
        .design-selection ul:after {
        content : ".";
        display : block;
        height : 0;
        clear : both;
        visibility : hidden;
        }
        .design-selection li {
        float : left;
        width : 50%;
        font-size : 1.2rem;
        margin : 0 0 1em;
        color : rgb(83, 58, 2);
        }
        .design-selection li:nth-child(odd) {
        width : 47%;
        padding-right : 3%;
        clear : left;
        }
        .design-name {
        display : block;
        font-size : 1.4rem;
        font-weight : bold;
        margin : 0 0 0.24em;
        text-transform : uppercase;
        letter-spacing : 0.1em;
        position : relative;
        }
        .design-name:after {
        background : none;
        opacity : 0;
        }
        .design-name:hover {
        font-style : italic;
        }
        .designer-name {
        color : #7989a3;
        }
        .designer-name:after, footer a:after {
        height : 1px;
        }
        .select:after {
        content : "Washes & Styles";
        font-size : 1.8rem;
        text-align : center;
        width : 7em;
        margin : 0 auto 2em;
        background : url(i/waves.png) 50% 0 no-repeat transparent;
        padding : 2em 0 0;
        color : #182e4f;
        visibility : visible;
        }
        
        .next {
        margin-right : 3em;
        }
        .next a {
        background : url(s/czg.svg) 10px -56px no-repeat transparent;
        width : 43px;
        height : 37px;
        }
        .next a:hover, .next a:focus {
        background-position : 10px -138px;
        }
        .previous {
        margin-right : 3em;
        }
        .previous a {
        background : url(s/czg.svg) 10px -220px no-repeat transparent;
        width : 43px;
        height : 37px;
        }
        .previous a:hover, .previous a:focus {
        background-position : 10px -302px;
        }
        .viewall {
        margin-left : 1em;
        }
        .viewall a {
        background : url(s/czg.svg) -56px -55px no-repeat transparent;
        width : 39px;
        height : 39px;
        }
        .viewall a:hover, .viewall a:focus {
        background-position : -56px -137px;
        }
        footer {
        font-size : 1.3rem;
        }
        footer a {
        margin-left : 1em;
        }
        footer a:first-child {
        margin-left : 0;
        }
        
        .view-css a:hover, .view-css a:focus {
        background-position : -502px -78px;
        }
        
        @media screen and (min-width:700px) {
        body {
        background-attachment : fixed;
        background-position : 90% 80%;
        }
        .intro:before {
        content : "";
        display : block;
        width : 105px;
        height : 30px;
        position : fixed;
        top : 154px;
        left : 3%;
        background : url(s/czg.svg) -184px -99px no-repeat transparent;
        }
        [role="article"], [role="banner"], footer {
        padding : 0 30% 10em 10%;
        text-align : right;
        position : relative;
        }
        [role="article"] h3, [role="banner"] h2 {
        position : absolute;
        top : -0.75em;
        left : 75%;
        width : 10em;
        text-align : left;
        font-size : 2.1rem;
        letter-spacing : 0;
        }
       
        [role="banner"] {
        padding-top : 200px;
        padding-bottom : 3em;
        }
        [role="banner"] h1 {
        font-size : 4.8rem;
        letter-spacing : 0;
        line-height : 0.8;
        }
        [role="banner"] h1:after {
        position : absolute;
        top : 15.7em;
        right : 30%;
        }
        [role="banner"] h2 {
        display : block;
        top : 8.1em;
        width : 3em;
        left : 75.5%;
        font-size : 1.9rem;
        line-height : 1;
        }
        [role="banner"] h2:before {
        visibility : visible;
        content : "Love";
        display : block;
        position : relative;
        top : 1em;
        bottom : 0;
        left : -0.5em;
        right : 0;
        margin : auto;
        font-weight : 900;
        font-size : 20rem;
        color : rgba(233, 104, 104, 0.15);
        width : 100%;
        height : 2em;
        line-height : 1;
        transform : rotate(-90deg);
        }
       
        .design-selection li {
        width : 23%;
        margin-bottom : 3em;
        padding-right : 2%;
        }
        .design-selection li:nth-child(odd) {
        width : 23%;
        clear : none;
        padding-right : 2%;
        }   ``
        .next {
        margin-right : 2em;
        margin-left : -0.4em;
        }
        .viewall {
        margin-left : 0;
        }
        footer {
        padding-bottom : 3em;
        margin-top : -5em;
        }
        }
        .design-selection {
        position : absolute;
        left : 5%;
        top : 30em;
        }
        .design-selection ul {
        margin : 0;
        width : 100%;
        }
        .design-selection li {
        float : none;
        width : 100% !important ;
        padding : 0 !important ;
        margin-bottom : 2em;
        }
        .select:after {
        text-align : left;
        background-position : 0 bottom;
        padding : 0 0 2em;
        margin : 0 0 2em;
        }
        .design-archives {
        position : absolute;
        left : 5%;
        top : 95em;
        }
        }
        @media screen and (min-width:1130px) and (min-height:1037px) {
        .design-selection, .design-archives {
        position : fixed;
        }
        }
       
        [role="banner"] h1 {
            visibility : visible;
            width : auto;
            display : block;
            }
            .main h3:after, .preamble h3:after, .select:after {
                display : none;
                }
            [role="banner"] h1:before {
            display : none;
            }
            }
